body {
	color: sandybrown;
	color: #bb5b0a;
	color: #eebd94;
	color: #3b210c;
	background-color: greenyellow;
	background-color: #536c2b;
	background-color: #55781a;
	background-color: #8eb056;
}

a { 
	color: blue;
 }

 h1 {
 		font-family: futura;
 		border: 4px solid #3b210c;
 		padding: 1em;
 }
 p style {
 	font-family: optima;
}
p {
	font-size: 1.5em;
}

#container {
	margin: 0 auto;
	width: 720px;
}